

.wp-block-tbwa-blocks-logo-grid-item {
	
	position:relative;

	margin-top:24px;
	margin-bottom:24px;
	margin-left:0px;
	margin-right:0px;

	.no-media-selected { 
		width:160px;
		height:160px;
	}


}
