.wp-block-tbwa-blocks-news-featured {
	margin-top:30px;
	margin-bottom:30px;

	.wp-block-tbwa-blocks-paragraph.date { 
		margin-top:0px;
		margin-bottom:0px;
	}

	.wp-block-tbwa-blocks-paragraph.author { 
		margin-bottom:0px;
	}

}

