@use '../common' as *;

.wp-block-tbwa-blocks-leadership-carousel {

  width: 100%;
  max-width: 1200px; // centrado en contenedor
  margin: 0 auto;
  position: relative;

  .indicators {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include elastic('bottom', 40);

    .indicator-min, .indicator-max {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      width: 36px;
      height: 36px;
    }

    .indicator {
      position: relative;
      .indicator-base {
        width: 95px;
        height: 1px;
        background-color: rgba(255,255,255,0.5);
      }
      .indicator-knob {
        position: absolute;
        top: 0;
        left: 0%;
        height: 1px;
        width: 0%;
        background-color: $color-white;
      }
    }

    .indicator-play-pause {
      width: 32px;
      height: 32px;
      position: relative;
      .button-play, .button-pause {
        position: absolute;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
      .button-play { display: none; }
    }
  }

  .slick-arrow {
    cursor: pointer;
    position: absolute;
    z-index: 30;
    width: 4.95vw;
    height: 4.95vw;
    border: none;
    top: 12vw;
    transform: scale(1);

    &.slick-prev {
      left: 26.5%;
      background: url(./images/arrow-left.png) no-repeat center;
      background-size: cover;
      &:hover { background: url(./images/arrow-left-hover.png) no-repeat center; }
    }

    &.slick-next {
      right: 26.5%;
      background: url(./images/arrow-right.png) no-repeat center;
      background-size: cover;
      &:hover { background: url(./images/arrow-right-hover.png) no-repeat center; }
    }
  }

  .slick-dots {
    margin: 0;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 700;

    li {
      display: inline-block;
      button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(0,0,0,0.2);
        border: none;
        transition: background 0.3s ease;
      }
      &.slick-active button { background: $color-white; }
    }
  }
}
