@use '../common' as *;


.wp-block-tbwa-blocks-stacked-cards {


	position:relative;

	> div { 
		display:flex;
		flex-wrap:no-wrap;
	}

	//  Width
	> div { 
		position:relative;
		width:100%;
		margin-left:0;
		margin-right:0;
		@include lg {
			@include elastic('max-width', $column-width);
			margin-left:auto;
			margin-right:auto;
		}
	}

	
}




