

//  Hide
.wp-block-tbwa-blocks-three-items-carousel-item {
	display:none;
}

//  If none selected, show the first
.wp-block-tbwa-blocks-three-items-carousel:not(.has-child-selected) {
	.wp-block-tbwa-blocks-three-items-carousel-item:first-child { 
		display:block;
	}	
}

//  If one selected, show that one
.wp-block-tbwa-blocks-three-items-carousel-item {
	&.is-selected,
	&.has-child-selected {
		display:block;
	}
}


.wp-block-tbwa-blocks-three-items-carousel-item {
	margin-top:24px;
	margin-bottom:24px;
	margin-left:0px;
	margin-right:0px;


}

.block-editor-block-list__block .wp-block-tbwa-blocks-three-items-carousel-item-group {
	.block-editor-block-list__layout {
		.wp-block-tbwa-blocks-image {
			display: inline-block;
		}
	}
}