@use '../common' as *;




.wp-block-tbwa-blocks-legal-nav {
	margin-top:24px;
	margin-bottom:24px;
	margin-left:10px;
	margin-right:10px;

	border:1px dashed rgba(128, 128, 128, 0.5);
	padding:10px;

	width:auto;

}
