.block-editor-block-list__block.wp-block-tbwa-blocks-email-container {
    .block-editor-plain-text {
        background: none;
        color: black;
    }
}

.background-black {
    .block-editor-block-list__block.wp-block-tbwa-blocks-email-container {
        .block-editor-plain-text {
            color: #bdbdbd;
        }
    }
}
