

.wp-block-tbwa-blocks-gallery-item {
	
	position:relative;

	margin-top:24px;
	margin-bottom:24px;
	margin-left:0px;
	margin-right:0px;


	height:400px;
	img, video { 
		height:400px;
	}

	.no-media-selected { 
		width:100%;
		height:400px;
	}


}
