@use '../common' as *;


.wp-block-tbwa-blocks-gallery-item {

	// background-color:$color-black;
	position:fixed;
	width:100%;
	height: auto;
	//transition:top 0.2s ease-out;
	padding: 0;
	// overflow: hidden;

	img, video { 
		width:100%;
		height: auto;
		object-fit:cover;
		margin:0;
		// overflow: hidden;
	}

}


