.wp-block-tbwa-blocks-work-loop-landscape {
	margin-top:30px;
	margin-bottom:30px;

	.no-media-selected { 
		padding-top:48px;
		padding-bottom:48px;
	}
}

.block-editor-block-list__block.wp-block-tbwa-blocks-work-featured-loop-landscape .my-controls {
	padding: 20px;
}